body{
    padding: 0px;
    text-align: center;
}

h1{
    background-color:#008000;
    color: white;
    padding: 10px 0;
}

ul{
    background: color #f2f2f2;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

form{
    display: inline-block;
    text-align: left;
}

label{
    display:block;
    margin: 10px 0 5px;
}

input{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin:8px 0;
    border: none;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
    background-color: green;
}

a {
    display:inline-block;
    margin-top: 20px;
}